body {
	margin: 0;
}
.mainContainer {
	display: inline-block;
	width: 100%;
}
.majorContainer {
	display: inline-block;
	width: 100%;
}
.container1 {
	min-height: auto;
	width: 100%;
}
.container1 img {
	width: 100%;
	min-height: auto;
	object-fit: cover;
}
.container2 {
	height: 500px;
	width: 100%;
	display: inline-flex;
	overflow: auto;
}
.portrait {
	height: 500px;
	min-width: 300px;
	margin: 5px;
}
.portrait img {
	max-width: 100%;
	height: 100%;
	object-fit: contain;
}